{% extends 'layouts/base-admin.html' %} {% block title %} Dashboard Admin {%
endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block body_class %}
index-page {% endblock body_class %} {% block content %}
<section class="mt-6 pt-3 pb-4" id="cv-tables">
  <div class="container">
    <div class="card">
      <div class="table-responsive">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h5 class="mb-0">CV Tables</h5>
          <div>
            <span>Show applicants with status: </span>
            <select id="status-filter" class="form-control">
              <option value="">All</option>
              <option value="pass">Pass</option>
              <option value="fail">Fail</option>
            </select>
          </div>
        </div>
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Name
                <i
                  class="fas fa-info-circle"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Applicant's name"
                ></i>
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                Email
                <i
                  class="fas fa-info-circle"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Applicant's email address"
                ></i>
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                Desired Position
                <i
                  class="fas fa-info-circle"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="The position desired by the applicant"
                ></i>
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                CV Classification
                <i
                  class="fas fa-info-circle"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="The results of the applicant's CV classification from the system"
                ></i>
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                Status
                <i
                  class="fas fa-info-circle"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Status of applicant being accepted/not accepted for the desired position"
                ></i>
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                Confidence
                <i
                  class="fas fa-info-circle"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="System confidence in classifying CVs"
                ></i>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody id="table-body">
            {% for result in prediction_results %} {% set probability_percentage
            = (result.probability_result * 100)|round(2) %}
            <tr data-status="{{ result.status }}">
              <td>
                <span class="text-dark text-xs"
                  >{{ result.job_applicant.user.username }}</span
                >
              </td>
              <td>
                <span class="text-xs font-weight-bold"
                  >{{ result.job_applicant.user.email }}</span
                >
              </td>
              <td>
                <span class="text-dark text-xs font-weight-bold"
                  >{{ result.job_applicant.desired_job }}</span
                >
              </td>
              <td>
                <span class="text-dark text-xs font-weight-bold"
                  >{{ result.prediction_result }}</span
                >
              </td>
              <td>
                {% if result.status == 'pass' %}
                <span class="badge bg-gradient-success">pass</span>
                {% else %}
                <span class="badge bg-gradient-danger">fail</span>
                {% endif %}
              </td>
              <td class="text-center">
                <div class="align-items-center">
                  <span class="text-xs">{{ probability_percentage }}%</span>
                  <div>
                    <div class="progress">
                      <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        aria-valuenow="{{ probability_percentage }}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: {{ probability_percentage }}%;"
                      ></div>
                    </div>
                  </div>
                </div>
              </td>

              <td class="align-middle">
                <a
                  role="button"
                  href="{{  url_for('home_blueprint.cv_preview', job_applicant_id=result.job_applicant.id) }}"
                  target="_blank"
                  class="btn bg-gradient-primary"
                  >Go To CV</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script
  src="/static/assets/js/soft-design-system.min.js?v=1.0.1"
  type="text/javascript"
></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

  $(document).ready(function () {
    $('#status-filter').on('change', function () {
      var filter = $(this).val();
      if (filter) {
        $("#table-body tr").hide();
        $("#table-body tr[data-status='" + filter + "']").show();
      } else {
        $("#table-body tr").show();
      }
    });
  });
</script>

{% endblock javascripts %}
